/Hello/nbproject/private/
/Hello/build/
/Shape/nbproject/private/
/Shape/build/
/Hello/dist/
/datatype/nbproject/private/
/datatype/build/
/RectangleComputation/nbproject/private/
/RectangleComputation/build/
/Input/nbproject/private/
/Input/build/
/JavaApplication7/nbproject/private/
/Wages/nbproject/private/
/Wages/build/
/Temperature/nbproject/private/
/Temperature/build/
/Grading System/nbproject/private/
/Grading System/build/
/ComparingNumbers/nbproject/private/
/ComparingNumbers/build/
/switchcond/nbproject/private/
/switchcond/build/
/Ticket/nbproject/private/
/Ticket/build/
